.profilecard-container {
  background: #1e293b;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  
}

.card-image {
  width: 150px;
}

.card-name {
  color: #38bdf8;
  font-weight: 500;
  font-size: 1em;
}

.card-occupation {
  color: darkgrey;
}

.card-description {
  text-align: end;
}