.profilecard-container {
  background: #1e293b;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  height: 110px;
}

.image-container  {
  width: 25%;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.info-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  padding: 15px
}

.card-name {
  color: #38bdf8;
  font-weight: 500;
  font-size: 1em;
}

.card-occupation {
  color: darkgrey;
  text-indent: 5px;
}

.card-description {
  text-align: end;
  margin-top: auto;
}
